---
layout: base.liquid
---
{% assign entry = entries[page.fileSlug] %}
<h1>{{ entry.title }}</h1>
<p>An {{ entry.rank }}-rank entry in the {{ tiersTitle }} tiers</p>
<hr>
{{ content }}
<hr>
<a href="../">Go back to the {{ tiersTitle }} tiers</a>