---
layout: base.liquid
pagination:
  data: tiersAll
  size: 1
  alias: tiers
permalink: tiers/{{ pagination.items[0].tiersId }}/index.html
---
<header>
    <h1>{{ tiers.tiersTitle }}</h1>
</header>

<p><a href="about.html">About these tiers</a></p>

{% renderTemplate "webc" %}
<tiers-link></tiers-link>
{% endrenderTemplate %}

<main>
    <ul class="tiers">
        {% for rank in tiers.ranks %}
            <li class="tier" style="--tier-heading-bg: var(--tier-heading-bg-{{ rank.rankName }})">
                <h2>{{ rank.rankName }}</h2>
                <ul class="tier__items">
                    {% for entry in rank.entries %}
                        <li>
                            <a href="./{{ entry.id }}/">{{ entry.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</main>

{% renderTemplate "webc" %}
<tiers-link></tiers-link>
{% endrenderTemplate %}
