---
layout: base.webc
pagination:
    data: tiersAll
    size: 1
    alias: tiers
permalink: tiers/{{ pagination.items[0].name }}/index.html
---
<h1>{{ tiers.name }}</h1>

<ol>
    {% for rank in tiers.entries %}
        <li>
            <h2>Tier {{ rank.rankName }}</h2>
            <ol>
                {% for entry in rank.entries %}
                    <a href="./{{ entry.id }}/">{{ entry.name }}</a>
                {% endfor %}
            </ol>
        </li>
    {% endfor %}
</ol>