---
layout: base.liquid
pagination:
  data: tiersAll
  size: 1
  alias: tiersCurrent
permalink: tiers/{{tiersCurrent.id }}/index.html
eleventyComputed:
    subtitle: "{{ tiersCurrent.title }}"
---

<header>
    <h1 class="tiers-background border-bottom__colors">
        Tiers: {{ tiersCurrent.title }}
    </h1>
</header>

<p class="tiers__intro">
    {% renderTemplate "webc" %}
    <tiers-link></tiers-link>
    {% endrenderTemplate %}

    <button type="button" class="button-as-link"
            onclick="document.querySelector('#desc').showModal(); document.location.hash = '_about';">
        About these tiers
    </button>
</p>

<main>
    <ul class="tiers">
        {% for rank in tiersCurrent.ranks %}
            {% assign rankName = rank[0] %}
            {% assign rankEntires = rank[1] %}
            {% assign isOnDeck = rank == "O" %}
            <li class="tier" style="--tier-heading-bg: var(--tier-heading-bg-{{ rankName }})">
                <h2>{{ rankName }}</h2>
                <ul class="tier__items">
                    {% for entry in rankEntires %}
                        <li>
                            {% if isOnDeck %}
                            <span class="on-deck">{{ entry.title }}</span>
                            {% else %}
                            <button type="button" onclick="document.querySelector('#desc').showModal(); document.location.hash = '{{ entry.id }}';">
                                {{ entry.title }}
                            </button>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {%- if isOnDeck -%}
                    <p class="tier__notice">O-rank entries are "on deck" and under consideration for an appropriate tier.</p>
                {%- endif -%}
            </li>
        {% endfor %}
    </ul>
</main>

<dialog id="desc" class="tier__description-dialog">
    <div id="_about" class="tier-desc">
        <header>
            <h2>About "{{ tiersCurrent.title }}"</h2>
        </header>
        <article>
            {% renderTemplate "liquid,md", tiersCurrent %}
            {{ text }}
            {% endrenderTemplate %}
        </article>
    </div>
    {% for rank in tiersCurrent.ranks %}
        {% assign rankName = rank[0] %}
        {% assign rankEntries = rank[1] %}
        {% for entry in rankEntries %}
            <div id="{{ entry.id }}" class="tier-desc">
                <header>
                    <h2>{{ entry.title }}</h2>
                    <p>An <span class="rank-wrapper" style="--bg-color: var(--tier-heading-bg-{{rankName}})">{{ rankName }}-rank</span> entry in the {{ tiersCurrent.title }} tiers</p>
                </header>
                <article>
                    {% renderTemplate "liquid,md", entry %}
                    {{ text }}
                    {% endrenderTemplate %}
                </article>
            </div>
        {% endfor %}
    {% endfor %}

    <footer>
        <form method="dialog">
            <button onclick="document.location.hash = '';">Close</button>
        </form>
    </footer>
</dialog>

<p>
    {% renderTemplate "webc" %}
    <tiers-link></tiers-link>
    {% endrenderTemplate %}
</p>
