---
layout: base.liquid
pagination:
    data: tiersAll
    size: 1
    alias: tiers
permalink: tiers/{{ pagination.items[0].tiersId }}/index.html
---
<header>
    <h1>{{ tiers.tiersTitle }}</h1>
</header>

<main>
    <ul class="tiers">
        {% for rank in tiers.ranks %}
            <li class="tier">
                <h2>{{ rank.rankName }}</h2>
                <ul class="tier__items">
                    {% for entry in rank.entries %}
                        <a href="./{{ entry.id }}/">{{ entry.title }}</a>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</main>
<hr>
<a href="../../">Go back to list of all tiers</a>