---
layout: base.liquid
pagination:
    data: tiersAll
    size: 1
    alias: tiers
permalink: tiers/{{ pagination.items[0].tiersId }}/index.html
---

<h1>{{ tiers.tiersTitle }}</h1>

<ol>
    {% for rank in tiers.ranks %}
        <li>
            <h2>Tier {{ rank.rankName }}</h2>
            <ol>
                {% for entry in rank.entries %}
                    <a href="./{{ entry.id }}/">{{ entry.title }}</a>
                {% endfor %}
            </ol>
        </li>
    {% endfor %}
</ol>
<hr>
<a href="../../">Go back to list of all tiers</a>