---
layout: base.liquid
pagination:
  data: tiers
  size: 1
  alias: tiersKey
permalink: tiers/{{ pagination.items[0] }}/index.html
---

{% assign tiersCurrent = tiers[tiersKey] %}

<header>
    <h1>{{ tiersCurrent.tiersTitle }}</h1>
</header>

<p>
    <button type="button" class="button-as-link"
            onclick="document.querySelector('#desc').showModal(); document.location.hash = '_about';">
        About these tiers
    </button>
</p>

{% renderTemplate "webc" %}
<tiers-link></tiers-link>
{% endrenderTemplate %}

<main>
    <ul class="tiers">
        {% for rank in tiersCurrent.ranks %}
            {% assign isOnDeck = rank.rankName == "O" %}
            <li class="tier" style="--tier-heading-bg: var(--tier-heading-bg-{{ rank.rankName }})">
                <h2>{{ rank.rankName }}</h2>
                <ul class="tier__items">
                    {% for entry in rank.entries %}
                        <li>
                            {% if isOnDeck %}
                            <span class="on-deck">{{ entry.title }}</span>
                            {% else %}
                            <button type="button" onclick="document.querySelector('#desc').showModal(); document.location.hash = '{{ entry.id }}';">
                                {{ entry.title }}
                            </button>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {%- if isOnDeck -%}
                    <p class="tier__notice">O-rank entries are "on deck" and under consideration for an appropriate tier.</p>
                {%- endif -%}
            </li>
        {% endfor %}
    </ul>
</main>

<dialog id="desc" class="tier__description-dialog">
    <div id="_about" class="tier-desc">
        <header>
            <h2>About "{{ tiersCurrent.tiersTitle }}"</h2>
        </header>
        <article>
            {{ tiersCurrent.aboutText }}
        </article>
    </div>
    {% for rank in tiersCurrent.ranks %}
        {% for entry in rank.entries %}
            <div id="{{ entry.id }}" class="tier-desc">
                <header>
                    <h2>{{ entry.title }}</h2>
                    <p>An {{ rank.rankName }}-rank entry in the {{ tiersCurrent.tiersTitle }} tiers</p>
                </header>
                <article>
                </article>
            </div>
        {% endfor %}
    {% endfor %}

    <footer>
        <form method="dialog">
            <button onclick="document.location.hash = '';">Close</button>
        </form>
    </footer>
</dialog>

{% renderTemplate "webc" %}
<tiers-link></tiers-link>
{% endrenderTemplate %}
