---
layout: base.liquid
pagination:
  data: tiersAll
  size: 1
  alias: tiers
permalink: tiers/{{ pagination.items[0].tiersId }}/index.html
---
<header>
    <h1>{{ tiers.tiersTitle }}</h1>
</header>

<p>
    <button type="button" class="button-as-link"
            onclick="document.querySelector('#desc').showModal(); document.location.hash = '_about';">
        About these tiers
    </button>
</p>

{% renderTemplate "webc" %}
<tiers-link></tiers-link>
{% endrenderTemplate %}

<main>
    <ul class="tiers">
        {% for rank in tiers.ranks %}
            {% assign isOnDeck = rank.rankName == "O" %}
            <li class="tier" style="--tier-heading-bg: var(--tier-heading-bg-{{ rank.rankName }})">
                <h2>{{ rank.rankName }}</h2>
                <ul class="tier__items">
                    {% for entry in rank.entries %}
                        <li>
                            {% if isOnDeck %}
                            <span class="on-deck">{{ entry.title }}</span>
                            {% else %}
                            <button type="button" onclick="document.querySelector('#desc').showModal(); document.location.hash = '{{ entry.id }}';">
                                {{ entry.title }}
                            </button>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                {%- if isOnDeck -%}
                    <p class="tier__notice">O-rank entries are "on deck" and under consideration for an appropriate tier.</p>
                {%- endif -%}
            </li>
        {% endfor %}
    </ul>
</main>

<dialog id="desc" class="tier__description-dialog">
    <section id="_about" class="tier-desc">
        <h2>About "{{ tiers.tiersTitle  }}"</h2>
        <p>Blah blah blah</p>
    </section>
    <section class="tier-desc">
        <h2>Entry Title</h2>
        <p>
            Tier entry content goes here!
        </p>
    </section>
    <form method="dialog">
        <button onclick="document.location.hash = '';">Close</button>
    </form>
</dialog>

{% renderTemplate "webc" %}
<tiers-link></tiers-link>
{% endrenderTemplate %}
